#achtergrond
{
    -fx-background-color: aqua;
}
#playername
{
    -fx-font-size: 20;

}
#stats
{
    -fx-font-size: 20;
}
#order
{
    -fx-font-size: 20;
}
#thisplayer
{
    -fx-font-size: 20;
}
#winner
{
    -fx-font-size: 40;
}